.grid-wrap{
  line-height: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;
  //background-color: rgba(76,77,79,0.6);
  //min-height: 220px;
}
.grid-wrap .item-filter {
  overflow: hidden;
  display:none;
  //transform: scale(.2,.2);
}




.grid-wrap .show {
  display:block;
  animation: enter .3s forwards;
}