.audio-player {
  display: flex;
  height: 70px;
  width: 100%;
  background: #13294A;
  font-family: $default;
  color: white;
  @media (max-width: 450px) {
    height: 50px;
  }
  .timeline {
    flex-grow: 1;
    background: #040f1d;
    border-radius: 5px;
    width: 150px;
    height: 10px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #0008;
    margin-right: 10px;
    .progress {
      background: $accent;
      border-radius: 5px;
      min-width: 10px;
      width: 0%;
      height: 100%;
      transition: 0.25s;
      position: absolute;
      left: 0;
      &:after {
        content: "";
        position: absolute;
        right: -2px;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: block;
        background-color: $accent;
        z-index: 2;
      }
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 20px;
    .name {
      opacity: 0;
    }
    .play-container {
      width: 30px;
      flex-shrink: 0;
    }
    .toggle-play.play {
      cursor: pointer;
      position: relative;
      left: 0;
      height: 0;
      width: 0;
      border: 10px solid #0000;
      border-left: 18px solid white;
      &:hover {
        transform: scale(1.05);
      }
    }
    .toggle-play.pause {
      height: 15px;
      width: 20px;
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        top: 0;
        left: 0px;
        background: white;
        content: "";
        height: 15px;
        width: 3px;
      }
      &:after {
        position: absolute;
        top: 0;
        right: 8px;
        background: white;
        content: "";
        height: 15px;
        width: 3px;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.audio-player .controls .time {
  display: flex;
  width: 50px;
  margin-right: 2px;
  justify-content: flex-start;
  flex-shrink: 0;
  @media (max-width: 450px) {
    width: 40px;
  }
  .length {
    display: none;
  }
}
.audio-player .controls .time > * {
  padding: 2px;
  font-size: 16px;
  @media (max-width: 450px) {
    font-size: 14px;
  }
}
.audio-player .controls .volume-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
  height: 26px;
  display: flex;
  align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
  transform: scale(0.9);
}
.audio-player .controls .volume-container .volume-slider {
  position: relative;
  height: 10px;
  border-radius: 6px;
  background: #040f1d;
  box-shadow: 0 0 20px #000a;
  transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
  background: $accent;
  height: 100%;
  width: 75%;
  border-radius: 5px;
}
.audio-player .controls .volume-container .volume-slider {
  width: 70px;
}

.volume.icon-audio, .volume.icon-mute {
  font-size: 25px;
  margin-right: 5px;
  @media (max-width: 450px) {
    font-size: 22px;
  }
}