.swiper-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
  li {
    a {
      cursor: pointer;
      display: inline-block;
      background: none;
      border: none;
      outline: none;
      color: $text;
      padding: 5px 0;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
      border-bottom: solid 3px transparent;
      &:hover {
        border-bottom: solid 3px $accent;
      }
    }
    a.swiper-active {
      border-bottom: solid 3px $accent;
    }
  }
}

.swiper-slide {
  /* a single column layout */
  width: 100%;
}

@media (min-width: 31.25em) {
  .swiper-slide  {
    /* swiper is disabled at this breakpoint */
    /* going for a 2 column layout here */
    width: 50%;
  }
}

@media (min-width: 43.75em) {
  .swiper-slide  {
    /* upping it to a 3 column layout */
    width: 50%;
  }
}

@media (min-width: 53em) {
  .swiper-slide  {
    /* and finally the 4 column layout */
    //width: 25%;
  }
}

.swiper-pagination {
  /* show on small viewports */
  display: block;
}

@media (min-width: 31.25em) {
  .swiper-pagination {
    /* swiper is disabled at this breakpoint */
    display: none;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}
