.swiper-filter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
  li {
    a {
      cursor: pointer;
      display: inline-block;
      background: none;
      border: none;
      outline: none;
      color: $text;
      padding: 5px 0;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 3px;
      text-transform: uppercase;
      border-bottom: solid 3px transparent;
      &:hover { border-bottom: solid 3px $accent; }
    }
    a.swiper-active { border-bottom: solid 3px $accent; }
  }
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
    li {
      margin-bottom: 10px;
      &:first-child {
        margin-bottom: 25px;
      }
    }
  }
}

@media (max-width: 767px) {
  .swiper-wrapper {
    padding-bottom: 70px;
  }
}

@media (min-width: 768px) {
  .swiper-wrapper {
    flex-wrap: wrap;
    width: 100%;
  }
}

.swiper-button-prev,
.swiper-button-next {
  width: 36px;
  height: 36px;
  background-color: $accent;
  bottom: 0!important;
  top: auto !important;
}

.swiper-button-prev:after {
  content: "\e909";
  font-family: icomoon;
  font-size: 20px;
  color: white;
}

.swiper-button-next:after {
  content: "\e90a";
  font-family: icomoon;
  font-size: 20px;
  color: white;
}

.swiper-pagination {
  bottom: -50px;
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $accent;
  }
}

.swiper-slide {
  width: 100%;
}

@media (min-width: 768px) {
  .swiper-slide  {
    width: 50%;
  }
}

@media (min-width: 53em) {
  .swiper-slide  {
    padding: 25px;
  }
}

.swiper-pagination {
  display: block;
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
}
