@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bc27y8');
  src:  url('fonts/icomoon.eot?bc27y8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bc27y8') format('truetype'),
    url('fonts/icomoon.woff?bc27y8') format('woff'),
    url('fonts/icomoon.svg?bc27y8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow-angle-big-gross-symbol:before {
  content: "\e909";
}
.icon-right-arrow:before {
  content: "\e90a";
}
.icon-flag:before {
  content: "\e90b";
}
.icon-envelope:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-facebook-app-symbol:before {
  content: "\e90e";
}
.icon-pinterest-social-logo:before {
  content: "\e90f";
}
.icon-down-arrow:before {
  content: "\e910";
}
.icon-navigate-up-arrow:before {
  content: "\e911";
}
.icon-audio:before {
  content: "\e900";
}
.icon-mute:before {
  content: "\e901";
}
.icon-cross:before {
  content: "\ea0f";
}
